<h2><%= link_to l(:label_redmine_attribute_quickies), attribute_quickies_path %> » <%= l(:label_attribute_quicky_edit, :id => @attribute_quicky.id ) %></h2>
<%= form_for @attribute_quicky, {:url => attribute_quicky_path(@project, @attribute_quicky),
								 :method => :put,
								 :html => {:id => "attribute_quicky-form" }
								 } do |f| %>
<%= render :partial => 'form', :locals => {:f => f }  %>
<%- end #form_for %>
